@model ppij_web_aplikacija.Models.Instrukcije.InstrukcijaModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body class="bootstrap-fix">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-0"></div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Datum)
                    </div>
                    @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { id = "date", @class = "form-control" } })
                    @Html.LabelFor(m => m.OdabraniSatID)
                    @Html.DropDownListFor(m => Model.OdabraniSatID, Model.Sati, new { @class = "form-control" })
                    @Html.LabelFor(m => m.OdabranoTrajanjeID)
                    @Html.DropDownListFor(m => Model.OdabranoTrajanjeID, Model.Trajanja, new { @class = "form-control" })
                    <hr />
                    <button type="submit" class="btn btn-lg btn-info" name="naredba" value="Traži">Traži</button>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <hr />
                    @Html.LabelFor(m => Model.Ime)
                    @Html.EditorFor(m => Model.Ime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(m => Model.Prezime)
                    @Html.EditorFor(m => Model.Prezime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(m => Model.Ocjena)
                    @Html.EditorFor(m => Model.Ocjena, new { htmlAttributes = new { @class = "form-control", min = "0", max = "5" } })
                    @Html.LabelFor(m => Model.BrojInstrukcija)
                    @Html.EditorFor(m => Model.BrojInstrukcija, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                </div>
                <div class="col-md-3 col-sm-2 col-xs-0"></div>
            </div>
            <div class="row">
                <hr />
                <div class="col-xs-12">
                    <table id="instrukcije" class="tablesorter table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center; vertical-align:middle">Ime</th>
                                <th style="text-align:center; vertical-align:middle">Prezime</th>
                                <th style="text-align:center; vertical-align:middle">Ocjena</th>
                                <th style="text-align:center; vertical-align:middle">Cijena (KN)</th>
                                <th style="text-align:center; vertical-align:middle">Broj instrukcija</th>
                                <th style="text-align:center; vertical-align:middle">Lokacija</th>
                                <th style="text-align:center; vertical-align:middle">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var opis in Model.Opisi)
                            {
                                <tr class=@if(opis.Status == "SLOBODAN") { <text> info</text> }
                                    @if (opis.Status == "POSLAN") { <text> success</text> }
                                    @if (opis.Status == "NEDOSTUPAN") { <text> warning</text> }
                                    @if (opis.Status == "REZERVIRAN") { <text> danger</text> }>
                                    <td style="text-align:center; vertical-align:middle">@opis.Instruktor.ime_osoba</td>
                                    <td style="text-align:center; vertical-align:middle">@opis.Instruktor.prezime_osoba</td>
                                    <td style="text-align:center; vertical-align:middle">@opis.Ocjena</td>
                                    <td style="text-align:center; vertical-align:middle">@opis.Cijena</td>
                                    <td style="text-align:center; vertical-align:middle">@opis.BrojInstrukcija</td>
                                    <td style="text-align:center; vertical-align:middle">@Html.DropDownList("lokacija:" + opis.Instruktor.ID_osoba, opis.SelectListLokacija, new { @class = "form-control" })</td>
                                    @if (opis.Status == "POSLAN")
                                    {
                                        <td>
                                            <div style="text-align:center;">
                                                <button class="btn btn-success" disabled="disabled">
                                                    Poslan
                                                </button>
                                            </div>
                                        </td>
}
                                    else if (opis.Status == "SLOBODAN")
                                    {
                                        <td>
                                            <div style="text-align:center;">
                                                <button class="btn btn-info" type="submit" name="naredba" value=@(opis.Instruktor.ID_osoba)>
                                                    Slobodan
                                                </button>
                                            </div>
                                        </td>
}
                                    else if (opis.Status == "NEDOSTUPAN")
                                    {
                                        <td>
                                            <div style="text-align:center;">
                                                <button class="btn btn-warning" disabled="disabled">
                                                    Nedostupan
                                                </button>
                                            </div>
                                        </td>
}
                                    else if (opis.Status == "REZERVIRAN")
                                    {
                                        <td>
                                            <div style="text-align:center;">
                                                <button class="btn btn-danger" disabled="disabled">
                                                    Rezerviran
                                                </button>
                                            </div>
                                        </td>
}
                                </tr>
}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    }
</body>
</html>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#date').datepicker({
                dateFormat: "dd/MM/yy",
                changeMonth: true,
                changeYear: true,
                minDate: 1,
                yearRange: "-0:+1"
            });

        });
    </script>

    @Scripts.Render("~/bundles/jquery_tablesorter")
    @*@Styles.Render("~/Content/css_jquery_tablesorter")*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#instrukcije").tablesorter();
        }
    );
    </script>
}