@model ppij_web_aplikacija.Models.Instrukcije.InstrukcijaModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Biranje instrukcije</h3>
    <hr />
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Datum)
            @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { id = "date" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OdabraniSatID)
            @Html.DropDownListFor(m => Model.OdabraniSatID, Model.Sati)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OdabranoTrajanjeID)
            @Html.DropDownListFor(m => Model.OdabranoTrajanjeID, Model.Trajanja)
        </div>
        <input type="submit" value="Traži" />
        <hr />
        <table id="instrukcije" class="tablesorter">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Ocjena</th>
                    <th>Cijena (KN)</th>
                    <th>Broj instrukcija</th>
                    <th>Lokacija</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var opis in Model.Opisi)
                {
                    <tr>
                        <td>@opis.Instruktor.ime_osoba</td>
                        <td>@opis.Instruktor.prezime_osoba</td>
                        <td>@opis.Ocjena</td>
                        <td>@opis.Cijena</td>
                        <td>@opis.BrojInstrukcija</td>
                        <td>@Html.DropDownListFor(m => opis.OdabranaLokacijaID, opis.SelectListLokacija)</td>
                        @if (opis.Status == "POSLANO")
                        {
                            <td>Zahtjev poslan</td>
                        }
                        else if (opis.Status == "SLOBODAN")
                        {
                            <td>@Html.ActionLink("Pošalji zahtjev", "PosaljiZahtjev")</td>
                        }
                        else if (opis.Status == "NEDOSTUPAN")
                        {
                            <td>Termin nedostupan</td>
                        }
                        else if (opis.Status == "REZERVIRAN")
                        {
                            <td>Termin rezerviran</td>
                        }
                    </tr>}

            </tbody>
        </table>
        <hr />
        <div class="form-group">
            Tražilica:
            <div class="form-group">
                @Html.LabelFor(m => Model.Ime)
                @Html.TextBoxFor(m => Model.Ime)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Prezime)
                @Html.TextBoxFor(m => Model.Prezime)
            </div>
        </div>
    }
</body>
</html>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#date').datepicker({
                dateFormat: "dd/MM/yy",
                changeMonth: true,
                changeYear: true,
                minDate: "dateToday",
                yearRange: "-0:+1"
            });

        });
    </script>

    @Scripts.Render("~/bundles/jquery_tablesorter")
    @Styles.Render("~/Content/css_jquery_tablesorter")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#instrukcije").tablesorter();
        }
    );
    </script>
}