@model ppij_web_aplikacija.Models.OsobaLogin
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
    @using (Html.BeginForm())
                {
            @Html.ValidationSummary(true)
            <fieldset>
                    <form method="post">
                        <div class=" row top-buffer text-right ">
                            <div class="col-md-4 center-block">
                                <div>
                                    <text>
                                        <mark>Korisničko ime </mark>
                                        @Html.EditorFor(model => model.korisnicko_ime)
                                    </text>
                                </div>
                                <div>
                                    <text>
                                        @Html.ValidationMessageFor(model => model.korisnicko_ime)
                                        @Html.ValidationMessage("error_kor_ime")
                                    </text>
                                </div>
                            </div>
                            <div class="col-md-4 center-block mali-razmak-gore">
                                <div>
                                    <text>
                                        <mark>Lozinka</mark>
                                        @Html.PasswordFor(model => model.lozinka)
                                    </text>
                                </div>
                                <div>
                                    <text>
                                        @Html.ValidationMessageFor(model => model.lozinka)
                                        @Html.ValidationMessage("error_loz")
                                    </text>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <p>Zapamti me  @Html.CheckBoxFor(model => model.zapamtiMe)</p>
                            <input type="submit" class="btn btn-default" value="Login &raquo;" t/> <br />
                        </div>
                    </form>
            </fieldset>
            }
    </body>
</html>
