@model ppij_web_aplikacija.Models.PostavkeModel
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <script type ="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    </head>
    <body>
        <div class="container" style="height:1500px;">
            <div class=" tabbable mali-razmak-gore" role="tablist">

                

                <ul class="nav nav-tabs" id="myTab">
                    <!--Popis tabova-->
                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab" id="dogovoreneinstrukcije">Moje dogovorene instrukcije</a></li>
                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Nudim instrukcije</a></li>
                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab" onclick="setTimeout(refreshmap, 250)">Postavke profila</a></li>
                    <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Promjena lozinke</a></li>
                </ul>

                <script>
                    function nots() {
                        $.ajax({
                            url: '/Profil/notification',
                            type: 'GET',
                            dataType: 'text',
                            async: false,
                            success: function (data) {
                                //document.getElementById("test123").innerHTML = data;
                                var jsonz = JSON.parse(data);
                                var zbroj = jsonz.klijent + jsonz.instruktor;
                                if (zbroj == '0') {
                                    $('#dogovoreneinstrukcije').html('Moje dogovorene instrukcije');
                                }
                                else {
                                    $('#dogovoreneinstrukcije').html('Moje dogovorene instrukcije <b style="color:red;">(' + zbroj + ')</b>');
                                    if(jsonz.klijent == 0){
                                        $('#instrukcijeklijent').html('Moje dogovorene instrukcije kao klijent');
                                    }
                                    else{
                                        $('#instrukcijeklijent').html('Moje dogovorene instrukcije kao klijent <b style="color:red;">(' + jsonz.klijent+ ')</b>');
                                    }
                                    if(jsonz.instruktor == 0){
                                        $('#instrukcijeinstruktor').html('Moje dogovorene instrukcije kao instruktor');
                                    }
                                    else{
                                        $('#instrukcijeinstruktor').html('Moje dogovorene instrukcije kao instruktor <b style="color:red;">(' + jsonz.instruktor+ ')</b>');
                                    }
                                }
                            },
                            complete: function () {
                                setTimeout(nots, 5000);
                            }
                        });
                    }
                </script>

                <div class="tab-content">


                    <!--Moje dogovorene instrukcije tab-->
                    <div class="tab-pane active top-buffer" role="tabpanel" id="tab1">

                        <div class=" tabbable " style="margin-top:-40px" role="tablist">
                            <ul class="nav nav-tabs subtabs" id="myTabDogovoreno">
                                <!--Popis subtabova-->
                                <li role="presentation" class="active"><a href="#tab11" aria-controls="tab11" role="tab" data-toggle="tab" id="instrukcijeklijent">Moje dogovorene instrukcije kao klijent</a></li>
                                <li role="presentation"><a href="#tab12" aria-controls="tab12" role="tab" data-toggle="tab" id="instrukcijeinstruktor">Moje dogovorene instrukcije kao instruktor</a></li>
                            </ul>


                            @{var i = 0;}
                            <div class="tab-content">

                                <!--tablica kao klijent-->
                                <div class="tab-pane active top-buffer" role="tabpanel" id="tab11">

                                    @using (Html.BeginForm())
                                    {
                                        <fieldset>
                                            <form class="form-horizontal " method="post">
                                                <div style="width:950px;">
                                                    <div>
                                                        <div class="col-md-2 prihvati-lijevo">
                                                            <input onclick="dodajindex(11);" type="submit" class="btn btn-default " style="font-weight: bold;" value="Prihvati izmjene &raquo;"  /> <br />
                                                        </div>

                                                        <table class="table-bordered table table-striped header-fixed">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:150px;">Datum</th>
                                                                    <th style="width:75px;">Trajanje</th>
                                                                    <th style="width:75px;">Predmet</th>
                                                                    <th style="width:100px;">Ime</th>
                                                                    <th style="width:130px;">Prezime</th>
                                                                    <th style="width:200px;">Status</th>
                                                                    <th style="width:100px;">Viđeno</th>
                                                                    <th style="width:100px;">Odustani</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @for (i = 0; i < Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent.Count; i++)
                                                                {
                                                                <tr>
                                                                    <td style="width:150px;">
                                                                        @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.ID_dogovor_termin)
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.datum_dogovor)
                                                                    </td>
                                                                    <td style="width:75px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.Termin.Count)h
                                                                    </td>
                                                                    <td style="width:75px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].predmet)
                                                                    </td>
                                                                    <td style="width:100px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].ime)
                                                                    </td>
                                                                    <td style="width:130px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].prezime)
                                                                    </td>
                                                                        <!-- SVE ZA OCIJENE + TEKST STATUSA INSTRUKCIJA-->
                                                                    <td style="width:200px;">
                                                                    @if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.datum_dogovor <= @DateTime.Now)
                                                                    {
                                                                        if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 1 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 11)
                                                                        {
                                                                            <label class="control-label" for="ocjena">Ocjenite:</label>
                                                                            <div id="ocjena" class="col-md-5">
                                                                                @Html.TextBoxFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_ocijena)
                                                                            </div>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 10)
                                                                        {
                                                                            <p>Nije odgovoreno</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p>Odustano</p>
                                                                        }
                                                                    }
                                                                    else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 1)
                                                                    {
                                                                        <p><b style="color:green;">Termin potvrđen</b></p>
                                                                    }
                                                                    else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 2)
                                                                    {
                                                                        <p><b>Zatražili ste odustajanje</b></p>
                                                                    }
                                                                    else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 3)
                                                                    {
                                                                        <p><b style="color:red;">Instruktor je otkazao</b></p>
                                                                    }
                                                                    else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 10)
                                                                    {
                                                                        <p><b style="color:green;">Poslan zahtjev</b></p>
                                                                    }
                                                                    else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 11)
                                                                    {
                                                                        <p><b style="color:green;">Instruktor je potvrdio</b></p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>Odustano</p>
                                                                    }
                                                                    </td>
                                                                    <!--SEEN LABEL-->
                                                                    <td>
                                                                        @if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 3 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 11)
                                                                        {
                                                                            <input id="seenid@(i)" type="checkbox" class="mycheck" name="seenid@(i)" onclick="seen(@(i));" />
                                                                            <label class="myseenlabel" for="seenid@(i)">OK</label>
                                                                            @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].seen, new { id = "seenidstore" + i })
                                                                        }
                                                                        else
                                                                        {
                                                                            <input id="seenid@(i)" type="checkbox" class="mycheck" name="seenid@(i)" onclick="seen(@(i));" checked disabled />
                                                                            <label class="myseenlabel" for="seenid@(i)">Viđeno</label>
                                                                            @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].seen, new { id = "seenidstore" + i })
                                                                        }
                                                                    </td>
                                                                    <!-- SVE OPCIJE ZA ODUSTAJANJE-->
                                                                    <td style="width:100px;">
                                                                        @if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 0 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 20)
                                                                        {
                                                                            <p>Odustano</p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 2)
                                                                        {
                                                                            <p><b>Odustano</b></p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 3)
                                                                        {
                                                                            <p></p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 1 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 11 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 10)
                                                                        {

                                                                            if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.datum_dogovor < @DateTime.Now)
                                                                            {
                                                                                if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 10)
                                                                                {
                                                                                    <p></p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p>Prisustvovano</p>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="odustani@(i)" type="checkbox" class="mycheck" name="odustani@(i)" onclick="odustani(@(i));" />
                                                                                <label class="myodustanilabel" for="odustani@(i)">Odustani</label>
                                                                                @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].odustani, new { id = "hiddenodustani" + i })
                                                                            }
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 10)
                                                                        {
                                                                            <p><b>Zahtjev poslan</b></p>
                                                                        }
                                                                    </td>
                                                                    
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>


                                                    </div>
                                                </div>
                                                @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab11" })
                                                <div class="col-md-2 mali-razmak-gore prihvati-lijevo">
                                                    <input onclick="dodajindex(11);" type="submit" class="btn btn-default " style="font-weight: bold;" value="Prihvati izmjene &raquo;" /><br />
                                                </div>
                                            </form>
                                        </fieldset>
                                        
                                    }
                                </div>

                                <!--tablica kao instruktor-->
                                <div class="tab-pane top-buffer" role="tabpanel" id="tab12">
                                    @using (Html.BeginForm())
                                    {
                                        <fieldset>
                                            <form class="form-horizontal " method="post">
                                                <div style="width:950px;">
                                                    <div>
                                                        <div class="col-md-2 prihvati-lijevo">
                                                            <input onclick="dodajindex(12);" type="submit" class="btn btn-default" style="font-weight: bold;" value="Prihvati izmjene &raquo;" /> <br />
                                                        </div>

                                                        <table class="table-bordered table table-striped header-fixed">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:150px;">Datum i vrijeme</th>
                                                                    <th style="width:75px;">Trajanje</th>
                                                                    <th style="width:75px;">Predmet</th>
                                                                    <th style="width:100px;">Ime</th>
                                                                    <th style="width:130px;">Prezime</th>
                                                                    <th style="width:200px;">Status</th>
                                                                    <th style="width:100px;">Viđeno</th>
                                                                    <th style="width:100px;">Odustani</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @for (var e = 0; e < Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor.Count; e++)
                                                                {
                                                                <tr>
                                                                    <td style="width:150px;">
                                                                        @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.ID_dogovor_termin)
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.datum_dogovor)
                                                                    </td>
                                                                    <td style="width:75px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.Termin.Count)h
                                                                    </td>
                                                                    <td style="width:75px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].predmet)
                                                                    </td>
                                                                    <td style="width:100px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].ime)
                                                                    </td>
                                                                    <td style="width:130px;">
                                                                        @Html.DisplayFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].prezime)
                                                                    </td>
                                                                        <!-- SVE ZA TEKSTOVE STATUSA-->
                                                                    <td style="width:200px;">
                                                                        @if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.datum_dogovor < @DateTime.Now)
                                                                        {
                                                                            if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 1 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 11)
                                                                            {
                                                                                <p>Prisustvovano</p>
                                                                            }
                                                                            else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 10)
                                                                            {
                                                                                <p><b style="color:red;">Termin je prošao</b></p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>Otkazano</p>
                                                                            }
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 1 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 11)
                                                                        {
                                                                            <p><b style="color:green;">Termin je potvrđen</b></p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 2)
                                                                        {
                                                                            <p><b style="color:red;">Klijent je odustao</b></p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 3)
                                                                        {
                                                                            <p><b>Zatražili ste odustajanje</b></p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 10)
                                                                        {
                                                                            <p><b style="color:green;">Čeka se Vaša potvrda</b></p>                                                                            
                                                                        }
                                                                        else
                                                                        {
                                                                            <p>Otkazano</p>
                                                                        }
                                                                    </td>
                                                                    <!--SEEN LABEL-->
                                                                    <td>
                                                                        @if ((@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.datum_dogovor < @DateTime.Now && @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 10) || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 2)
                                                                        {
                                                                            <input id="seenid@(i)" type="checkbox" class="mycheck" name="seenid@(i)" onclick="seen(@(i));"/>
                                                                            <label class="myseenlabel" for="seenid@(i)">OK</label>
                                                                            @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].seen, new { id = "seenidstore" + i })
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 10)
                                                                        {
                                                                            <input id="seenid@(i)" type="checkbox" class="mycheck" name="seenid@(i)" onclick="seen(@(i));" />
                                                                            <label class="myacceptlabel" for="seenid@(i)">Potvrdi</label>
                                                                            @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].seen, new { id = "seenidstore" + i })
                                                                        }
                                                                        else
                                                                        {
                                                                            <input id="seenid@(i)" type="checkbox" class="mycheck" name="seenid@(i)" onclick="seen(@(i));" checked disabled/>
                                                                            <label class="myseenlabel" for="seenid@(i)">Viđeno</label>
                                                                            @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].seen, new { id = "seenidstore" + i })
                                                                        }
                                                                    </td>
                                                                    <!-- SVE OPCIJE ZA ODUSTAJANJE-->
                                                                    <td style="width:100px;">
                                                                        @if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.datum_dogovor < @DateTime.Now)
                                                                        {
                                                                            <p></p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 0)
                                                                        {
                                                                            <p>Odustano</p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 2)
                                                                        {
                                                                            <p><b>Odustano</b></p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 3)
                                                                        {
                                                                            <p>Odustano</p>
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 1 || @Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 11)
                                                                        {
                                                                            if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.datum_dogovor < @DateTime.Now)
                                                                            {
                                                                                <p></p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <input id="odustani@(i)" type="checkbox" class="mycheck" name="odustani@(i)" onclick="odustani(@(i));" />
                                                                                <label class="myodustanilabel" for="odustani@(i)">Odustani</label>
                                                                                @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].odustani, new { id = "hiddenodustani" + i })
                                                                            }
                                                                        }
                                                                        else if (@Model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].termin.dogovor_status == 10)
                                                                        {
                                                                            <input id="odustani@(i)" type="checkbox" class="mycheck" name="odustani@(i)" onclick="odustani(@(i));" />
                                                                            <label class="myodustanilabel" for="odustani@(i)">Odustani</label>
                                                                            @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.dogovoreni_termini_kao_instruktor[e].odustani, new { id = "hiddenodustani" + i })
                                                                        }
                                                                    </td>
                                                                    
                                                                </tr>
                                                                    { i++; }
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                                @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab12" })
                                                <div class="col-md-2 mali-razmak-gore prihvati-lijevo">
                                                    <input onclick="dodajindex(12);" type="submit" class="btn btn-default " style="font-weight: bold;" value="Prihvati izmjene &raquo;" /><br />
                                                </div>
                                            </form>
                                        </fieldset>
                                        
                                    }
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--Nudim instrukcije tab-->
                    <div class="tab-pane  top-buffer" role="tabpanel" id="tab2">
                        @if (@ViewBag.razinaPrava == 1 || @ViewBag.razinaPrava == 0)
                        {

                            
                            
                            <div class=" tabbable " style="margin-top:-40px" role="tablist">
                                <ul class="nav nav-tabs subtabs" id="myTabTermini">
                                    <!--Popis subtabova-->
                                    <li role="presentation" class="active"><a href="#tab21" aria-controls="tab21" role="tab" data-toggle="tab">Moji predmeti</a></li>
                                    <li role="presentation"><a href="#tab22" aria-controls="tab22" role="tab" data-toggle="tab">Moji termini</a></li>
                                </ul>


                                <div class="tab-content">

                                    <div class="tab-pane active top-buffer" role="tabpanel" id="tab21">
                                        @using (Html.BeginForm("SelectKategorija", "Profil", FormMethod.Post))
                                        {
                                            <fieldset>
                                                <form class="form-horizontal " method="post">
                                                    <ul>
                                                        @for (var k = 0; k < Model.mojeVlastiteInstrukcije.popis_kategorija.Count; k++)
                                                        {
                                                            @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.popis_kategorija[k].kategorija_ime)
                                                            for (var j = 0; j < Model.mojeVlastiteInstrukcije.popis_kategorija[k].mojiPredmeti.Count; j++)
                                                            {
                                                                <li>
                                                                    @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.popis_kategorija[k].mojiPredmeti[j])

                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                    <div class="col-md-2 mali-razmak-gore">
                                                        <input type="submit" class="btn btn-default" value="Promjeni &raquo;" /> <br />
                                                    </div>
                                                </form>
                                            </fieldset>
                                        }
                                    </div>



                                    <div class="tab-pane top-buffer" role="tabpanel" id="tab22">
                                        @using (Html.BeginForm())
                                        {
                                            <fieldset>
                                                <form class="form-horizontal " method="post">
                                                    <div class="col-md-2 ">
                                                        <input onclick="addterminmodel(22);" type="submit" class="btn btn-default" style="font-weight:bold; margin-left:700px;" value="Promjeni &raquo;" /> <br />
                                                    </div>
                                                    <div style="width:800px;">
                                                        <table class="table-bordered table table-striped header-fixed">
                                                            <thead>
                                                                <tr>
                                                                    <th>sat  </th>
                                                                    <th>PON</th>
                                                                    <th>UTO</th>
                                                                    <th>SRI</th>
                                                                    <th>ČET</th>
                                                                    <th>PET</th>
                                                                    <th>SUB</th>
                                                                    <th>NED</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tableT"></tbody>
                                                        </table>
                                                    </div>
                                                    @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.mojiTermini, new { id = "hiddenstateid" })
                                                    @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab22" })

                                                    <div class="col-md-2 mali-razmak-gore">
                                                        <input onclick="addterminmodel(22);" type="submit" class="btn btn-default" style="font-weight:bold; margin-left:700px;" value="Promjeni &raquo;" /> <br />
                                                    </div>
                                                </form>
                                            </fieldset>
                                        }
                                    </div>


                                </div>
                            </div>

                        }
                        else if (@ViewBag.razinaPrava == 2)
                        {
                            <p>Ukoliko želite biti instruktor odaberite opciju "Želim biti instruktor" u Postavkama profila</p>
                        }
                    </div>




                    <!--Postavke profila tab-->
                    <div class="tab-pane top-buffer" role="tabpanel" id="tab3">
                        <h3>Postavke profila</h3>
                        @using (Html.BeginForm())
                        {

                            <fieldset>
                                <form class="form-horizontal " method="post">

                                    <div class="row">
                                        <label class="col-md-3 control-label" for="jeinstruktor">
                                            <mark>Želim biti instruktor</mark>
                                        </label>
                                        <div id="jeinstruktor" class="col-md-6">
                                            @Html.CheckBoxFor(model => model.ostalePostavke.instruktor)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.mojeVlastiteInstrukcije.MojeLokacijeJson, new { id = "jsonlokacije" })
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h4>Uredi lokacije</h4>
                                            <div id="mapid"></div>
                                        </div>
                                        <div class="col-md-4" style="height:320px; overflow-y:auto;">
                                            <h4>Uredi opis lokacija</h4>
                                            <ul id="popislokacija">

                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-2 mali-razmak-gore">
                                            <input onclick="dodajlokacijeumodel(3);" type="submit" class="btn btn-default" value="Promjeni &raquo;" /> <br />
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab3"})
                                </form>
                            </fieldset>
                        }
                    </div>




                    <!--Promjena lozinke tab-->
                    <div class="tab-pane" role="tabpanel" id="tab4">
                        <h3>Promjena lozinke</h3>
                        @using (Html.BeginForm())
                    {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <form class="form-horizontal " method="post">

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="promjena_lozinke_stara">
                                    <mark>Stara lozinka</mark>
                                </label>
                                <div id="promjena_lozinke_stara" class="col-md-5">
                                    @Html.EditorFor(model => model.changePassword.OldPassword)
                                    @Html.ValidationMessageFor(model => model.changePassword.OldPassword)
                                    @Html.ValidationMessage("error_old_password")
                                </div>
                            </div>
                            <br />

                            <div class=" form-group">
                                <label class="col-md-3 control-label" for="promjena_lozinke_nova">
                                    <mark>Nova lozinka</mark>
                                </label>
                                <div id="promjena_lozinke_nova" class="col-md-6">
                                    @Html.PasswordFor(model => model.changePassword.NewPassword)
                                    @Html.ValidationMessageFor(model => model.changePassword.NewPassword)
                                    @Html.ValidationMessage("error_loz")
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="promjena_lozinke_ponovljena">
                                    <mark>Ponovljena nova lozinka</mark>
                                </label>
                                <div id="promjena_lozinke_ponovljena" class="col-md-6">
                                    @Html.PasswordFor(model => model.changePassword.ConfirmPassword)
                                    @Html.ValidationMessageFor(model => model.changePassword.ConfirmPassword)
                                    @Html.ValidationMessage("error_loz")
                                </div>
                            </div>
                            <br />
                            @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab4" })
                            <div class="col-md-2 mali-razmak-gore">
                                <input onclick="dodajindex(4);" type="submit" class="btn btn-default" value="Promjeni &raquo;" /> <br />
                            </div>
                        </form>
                    </fieldset>
                    }
                    </div>



                </div>



                <script type="text/javascript">
                    var droppedID;

                    //$(".dropdown dt a").on('click', function() {
                        //$(".dropdown dd ul").slideToggle('fast');
                        //var id = (this).closest.id;
                        //document.getElementById("test123").innerHTML = id;
                        //$("#dd1 #ul1").slideToggle('fast');
                    //});

                    /*function dodaj(id){
                        $(".dropdown dd ul").slideToggle('fast');
                    }

                    $(".dropdown dd ul li a").on('click', function() {
                        $(".dropdown dd ul").hide();
                    });

                    function getSelectedValue(id) {
                        return $("#" + id).find("dt a span.value").html();
                    }

                    $(document).bind('click', function(e) {
                        var $clicked = $(e.target);
                        if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
                    });

                    $('.mutliSelect input[type="checkbox"]').on('click', function() {

                        var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val();

                        if ($(this).is(':checked')) {
                            $(".hida").html("Odabrano: "+selectcount);
                        } else {
                            $(".hida").html("Odabrano: "+selectcount);
                        }
                    });*/




                </script>

                <div id="test123">

                </div>

                <script id="mapscript">
                        var maxIdkarte = 0;

                        function makeStruct(names) {
                            var names = names.split(' ');
                            var count = names.length;
                            function constructor() {
                                for (var i = 0; i < count; i++) {
                                    this[names[i]] = arguments[i];
                                }
                            }
                            return constructor;
                        }
                    
                        var idmarkerKarta = makeStruct("id marker");
                        var popismarkeranakarti = [];


                        var mymap = L.map('mapid').setView([45.049222, 16.280702], 6);
                        L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a> contributors | Tiles Courtesy of <a href="http://www.mapquest.com/" title="MapQuest" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png" width="16" height="16">',
                            subdomains: ['otile1','otile2','otile3','otile4']
                        }).addTo(mymap);
                        mymap.addEventListener("click", kartaClick);

                        function refreshmap(){
                            mymap.invalidateSize();
                        }

                        function kartaClick(e){
                            maxIdkarte += 1;
                            marker = L.marker([e.latlng.lat, e.latlng.lng], {title: "Lokacija šif. "+maxIdkarte} ).bindPopup("<p>Nedefinirano</p></br><input type='button' value='Ukloni lokaciju' class='marker-delete-button'/>");
                            marker.on("popupopen", onPopupOpen);
                            popismarkeranakarti.push(new idmarkerKarta(maxIdkarte, marker));
                            var mcontent = marker.getPopup().getContent();
                            mcontent = mcontent.substr(3);
                            mcontent = mcontent.substr(0, mcontent.indexOf("<"));
                            document.getElementById("popislokacija").innerHTML += '<li id="lilok'+maxIdkarte+'"><label id="labellok'+maxIdkarte+'" for="opislok'
                                            +maxIdkarte+'">Opis lokacije šif. '+maxIdkarte
                                                +' : </label><input type="text" id="opislok' +maxIdkarte+ '" value="'+mcontent+'">' + '</input></li>';
                            var broj = maxIdkarte;
                            $("#opislok" +broj).on("change", function (){
                                for(var j = 0; j<popismarkeranakarti.length;j++){
                                    if(popismarkeranakarti[j].id == broj){
                                        popismarkeranakarti[j].marker.getPopup().setContent('<p>'+$("#opislok" +broj).val()+'</p></br><input type="button" value="Ukloni lokaciju" class="marker-delete-button"/>');
                                        var setopis = '<label id="labellok'+broj+'" for="opislok'+broj+'">Opis lokacije šif. '+broj+' : </label><input type="text" id="opislok' +broj+ '" value="'+$("#opislok" +broj).val()+'">' + '</input>';
                                        var li = document.getElementById("lilok"+broj).innerHTML = setopis;
                                        break;
                                    }
                                }
                            });
                            marker.addTo(mymap);
                        }

                        function onPopupOpen() {
                            var tempMarker = this;
                            $(".marker-delete-button:visible").on("click", function () {
                                for(var i = 0; i<popismarkeranakarti.length;i++){
                                    if(popismarkeranakarti[i].marker == tempMarker){
                                        var element = document.getElementById("lilok"+popismarkeranakarti[i].id);
                                        element.parentElement.removeChild(element);
                                        popismarkeranakarti.splice(i, 1);
                                        break;
                                    }
                                }
                                mymap.removeLayer(tempMarker);
                            });
                        }

                        function dodajlokacijeumodel(id){
                            dodajindex(id);
                            //var lok = makeStruct("lat lon opis id");
                            var listamarkera1 = makeStruct("lokacije");
                            listamarkera1.lokacije = [];
                            for (var i=0;i<popismarkeranakarti.length;i++){
                                var mcontent = popismarkeranakarti[i].marker.getPopup().getContent();
                                mcontent = mcontent.substr(3);
                                mcontent = mcontent.substr(0, mcontent.indexOf("<"));
                                listamarkera1.lokacije.push({lat: popismarkeranakarti[i].marker._latlng.lat, lon: popismarkeranakarti[i].marker._latlng.lng, opis: mcontent, id: popismarkeranakarti[i].id});
                            }
                            $("#jsonlokacije").val(JSON.stringify(listamarkera1.lokacije));

                        }

                        function mojelokacijeInit(){
                            var listamarkera = @Html.Raw(Json.Encode(Model.mojeVlastiteInstrukcije.MojeLokacijeJson));
                            listamarkera = JSON.parse(listamarkera );
                            for(var i = 0; i < listamarkera.lokacije.length; i++ ){
                                if(listamarkera.lokacije[i].id > maxIdkarte){
                                    maxIdkarte = listamarkera.lokacije[i].id;
                                }
                                marker = L.marker([listamarkera.lokacije[i].lat, listamarkera.lokacije[i].lon], {title: "Lokacija šif. " + listamarkera.lokacije[i].id} ).bindPopup("<p>" + listamarkera.lokacije[i].opis + "</p></br><input type='button' value='Ukloni lokaciju' class='marker-delete-button'/>");
                                marker.on("popupopen", onPopupOpen);
                                document.getElementById("popislokacija").innerHTML += '<li id="lilok'+listamarkera.lokacije[i].id+'"><label id="labellok'+listamarkera.lokacije[i].id+'" for="opislok'+listamarkera.lokacije[i].id+'">Opis lokacije šif. '+listamarkera.lokacije[i].id+' : </label><input type="text" id="opislok' +listamarkera.lokacije[i].id+ '" value="'+listamarkera.lokacije[i].opis +'">' + '</input></li>';
                                
                                popismarkeranakarti.push(new idmarkerKarta(listamarkera.lokacije[i].id, marker));
                                marker.addTo(mymap);
                            }
                        }

                </script>



                <script >
                    //odabrani termini za model
                    var dodanitermini;
                    var dogovorenitermini;

                    //seen - skoro isto ko i odustani
                    function seen(id){
                        var bal = $('#seenidstore' +id).val();
                        if($('#seenid' + id).siblings('label').html() !=  "Potvrdi"){
                            if($('#seenidstore' +id).val() == 'False'){
                                $('#seenid' + id).siblings('label').html('Viđeno');
                            }
                            else{
                                $('#seenidstore' + id).siblings('label').html('OK');
                            }
                        }
                        if($('#seenidstore' +id).val() == 'False'){
                            $('#seenidstore' +id).val("True");
                        }
                        else{
                            $('#seenidstore' +id).val("False");
                        }
                    }

                    //odustani od dogovorenog termina
                    function odustani(id){
                        var b = $('#hiddenodustani' +id).val();
                        if($('#hiddenodustani' +id).val() == 'True'){
                            $('#hiddenodustani' +id).val("False");
                        }
                        else{
                            $('#hiddenodustani' +id).val("True");
                        }
                    }

                    //index taba gdje je kliknut submit
                    function dodajindex(id){
                        $('#trenutniTab' +id).val(id);
                    }


                    //tekst termina: Slobodno/Zauzeto
                    function oznaciTermine(){
                        for(var i =0; i < dodanitermini.length; i++){
                            $("#" + dodanitermini[i]).prop("checked", true);
                            $('#' + dodanitermini[i]).siblings('label').html('Odabrano');
                        }
                    }


                    //interakcija sa tablicom termina
                    jQuery(document).ready(function () {
                        var rows = " ";
                        var col = " ";
                        for(var i = 0; i <= 23; i++){
                            rows = rows + '<tr><td><div class="redrazmak"><b>'+i+'h    '+'</b></div></td>';
                            col = " ";
                            for (var j = 1; j <= 7; j++) {
                                col = col + '<td><div class="redrazmak ">'
                                    + '<input id="' + (100*j + i) + '" type="checkbox" class="mycheck" name="' + (100*j + i) + '" onclick="changeText(this.id);"/>'
                                        + '<label class="mylabel" for="' + (100*j + i) + '">'
                                            + 'Slobodno'
                                        + '</label>'
                                    + '</div></td>';
                            }
                            rows = rows + col;
                            rows = rows + '</tr>';
                        }
                        document.getElementById("tableT").innerHTML = rows;
                        dodanitermini = @Html.Raw(Json.Encode(Model.mojeVlastiteInstrukcije.mojiTermini));
                        //document.getElementById("test123").innerHTML = dodanitermini;
                        oznaciTermine();
                        nots();
                        mojelokacijeInit();
                        setTimeout(refreshmap, 250);
                    });

                    //pocetni tab
                    function activaTab(tab) {
                        $('#myTab a[href="#' + tab + '"]').tab('show');
                    };
                    function activaSubTab1(tab) {
                        $('#myTabDogovoreno a[href="#' + tab + '"]').tab('show');
                    };
                    function activaSubTab2(tab) {
                        $('#myTabTermini a[href="#' + tab + '"]').tab('show');
                    };

                    $(document).ready(function () {
                        var id=@Html.Raw(Model.trenutniTab);
                        if(id == "11" || id == "12"){
                            activaTab('tab' + 1);
                            activaSubTab1('tab' + id);
                        }
                        else if(id == "21" || id == "22"){
                            activaTab('tab' + 2);
                            activaSubTab2('tab' + id);
                        }
                        else{
                            activaTab('tab' + id);
                        }
                    });


                    //interakcija sa tablicom termina
                    function changeText(id) {
                        if ($('#' + id).is(':checked')) {
                            $('#' + id).siblings('label').html('Odabrano');
                            dodajtermin(id);
                        } else {
                            $('#' + id).siblings('label').html('Slobodno');
                            uklonitermin(id);
                        }
                    }


                    //dodavanje termina u popis
                    function dodajtermin(id) {
                        dodanitermini.push(id);
                    }
                    //uklanjanje termina sa popisa
                    function uklonitermin(id) {
                        for (var i = 0; i < dodanitermini.length; i++) {
                            if (dodanitermini[i] == id) {
                                dodanitermini.splice(i, 1);
                                break;
                            }
                        }
                    }


                    //dodavanje termina u model
                    function addterminmodel(id) {
                        dodajindex(id);
                        $("#hiddenstateid").val(dodanitermini);
                    }




                </script>





            </div>
        </div>
</body>
</html>
