@model ppij_web_aplikacija.Models.PostavkeModel
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <script type ="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    </head>
    <body>
        <div class="container" style="height:1500px;">
            <div class=" tabbable mali-razmak-gore" role="tablist">

                

                <ul class="nav nav-tabs" id="myTab">
                    <!--Popis tabova-->
                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Moje dogovorene instrukcije</a></li>
                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Nudim instrukcije</a></li>
                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Postavke profila</a></li>
                    <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Promjena lozinke</a></li>
                </ul>



                <div class="tab-content">


                    <!--Moje dogovorene instrukcije tab-->
                    <div class="tab-pane active top-buffer" role="tabpanel" id="tab1">
                        @{var i = 0;}
                        @using (Html.BeginForm())
                        {
                            <fieldset>
                                <form class="form-horizontal " method="post">
                                    <div style="width:800px;">



                                        <!--tablica kao klijent-->
                                        <div>
                                            <h3>Dogovorene instrukcije kao klijent</h3>
                                            <div class="col-md-2 mali-razmak-gore prihvati-lijevo">
                                                <input onclick="dodajindex(1);" type="submit" class="btn btn-default " style="font-weight: bold;" value="Prihvati izmjene &raquo;" /> <br />
                                            </div>
                                            <table class="table-bordered table table-striped header-fixed">
                                                <thead>
                                                    <tr>
                                                        <th style="width:150px;">Datum</th>
                                                        <th style="width:100px;">Predmet</th>
                                                        <th style="width:100px;">Ime</th>
                                                        <th style="width:130px;">Prezime</th>
                                                        <th style="width:100px;">Status</th>
                                                        <th style="width:200px;">Ocjena</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (i = 0; i < Model.mojeInstrukcije.dogovoreni_termini_kao_klijent.Count; i++)
                                                    {
                                                        <tr>
                                                            <td style="width:150px;">
                                                                @Html.HiddenFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.ID_dogovor_termin)
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.datum_dogovor)
                                                            </td>
                                                            <td style="width:100px;">
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].kategorija)
                                                            </td>
                                                            <td style="width:100px;">
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].ime)
                                                            </td>
                                                            <td style="width:130px;">
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].prezime)
                                                            </td>
                                                            <td style="width:100px;">
                                                                @if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 0)
                                                                {
                                                                    <p>Odustano</p>
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 2)
                                                                {
                                                                    <p><b>Odustano</b></p>
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 3)
                                                                {
                                                                    <input id="idseen@(i)" type="checkbox" class="mycheck" name="idseen@(i)" onclick="seen(@(i));" />
                                                                    <label class="myseenlabel" for="idseen@(i)">Otkazano</label>
                                                                    @Html.HiddenFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].odustani, new { id = "hiddenodustani" + i })
                                                                }
                                                                else if(@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 1)
                                                                {
                                                                    
                                                                    if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.datum_dogovor < @DateTime.Now)
                                                                    {
                                                                    <p>Prisustvovano</p>
                                                                    }
                                                                    else { 
                                                                        <input id="odustani@(i)" type="checkbox" class="mycheck" name="odustani@(i)" onclick="odustani(@(i));" />
                                                                        <label class="mylabel" for="odustani@(i)">Odustani</label>
                                                                        @Html.HiddenFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].odustani, new { id = "hiddenodustani" + i })
                                                                    }
                                                                }
                                                            </td>
                                                            <td style="width:200px;">
                                                                @if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 1)
                                                                {
                                                                    if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.datum_dogovor <= @DateTime.Now)
                                                                    {
                                                                        <label class="col-md-3 control-label" for="ocjena">Upiši ocjenu:</label>
                                                                        <div id="ocjena" class="col-md-6">
                                                                            @Html.TextBoxFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_ocijena)
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>Termin još nije prošao</p>
                                                                    }
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 2)
                                                                {
                                                                    <p><b>Zatražili ste odustajanje</b></p>
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_klijent[i].termin.dogovor_status == 3)
                                                                {
                                                                    <p><b style="color:red;">Instruktor je otkazao</b></p>
                                                                }
                                                                else
                                                                {
                                                                    <p>Odustano</p>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>




                                        <div>
                                            <!--tablica kao instruktor-->
                                            <h3>Dogovorene instrukcije kao instruktor</h3>
                                            <div class="col-md-2 mali-razmak-gore prihvati-lijevo">
                                                <input onclick="dodajindex(1);" type="submit" class="btn btn-default" style="font-weight: bold;" value="Prihvati izmjene &raquo;" /> <br />
                                            </div>
                                            <table class="table-bordered table table-striped header-fixed">
                                                <thead>
                                                    <tr>
                                                        <th style="width:150px;">Datum</th>
                                                        <th style="width:100px;">Predmet</th>
                                                        <th style="width:100px;">Ime</th>
                                                        <th style="width:130px;">Prezime</th>
                                                        <th style="width:100px;">Status</th>
                                                        <th style="width:200px;">Ocjena</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (; i < Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor.Count; i++)
                                                    {
                                                        <tr>
                                                            <td style="width:150px;">
                                                                @Html.HiddenFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.ID_dogovor_termin)
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.datum_dogovor)
                                                            </td>
                                                            <td style="width:100px;">
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].kategorija)
                                                            </td>
                                                            <td style="width:100px;">
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].ime)
                                                            </td>
                                                            <td style="width:130px;">
                                                                @Html.DisplayFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].prezime)
                                                            </td>
                                                            <td style="width:100px;">
                                                                @if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_status == 0)
                                                                {
                                                                    <p>Odustano</p>
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_status == 2)
                                                                {
                                                                    <input id="idseen@(i)" type="checkbox" class="mycheck" name="idseen@(i)" onclick="seen(@(i));" />
                                                                    <label class="myseenlabel" for="idseen@(i)">Odustani</label>
                                                                    @Html.HiddenFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].odustani, new { id = "hiddenodustani" + i })
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_status == 3)
                                                                {
                                                                    <p><b>Odustano</b></p>
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_status == 1)
                                                                {

                                                                    if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.datum_dogovor < @DateTime.Now)
                                                                    {
                                                                        <p>Prisustvovano</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <input id="odustani@(i)" type="checkbox" class="mycheck" name="odustani@(i)" onclick="odustani(@(i));" />
                                                                        <label class="mylabel" for="odustani@(i)">Odustani</label>
                                                                        @Html.HiddenFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].odustani, new { id = "hiddenodustani" + i })
                                                                    }
                                                                }
                                                            </td>
                                                            <td style="width:200px;">
                                                                @if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_status == 1)
                                                                {
                                                                    if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.datum_dogovor <= @DateTime.Now)
                                                                    {
                                                                        <label class="col-md-3 control-label" for="ocjena">Upiši ocjenu:</label>
                                                                        <div id="ocjena" class="col-md-6">
                                                                            @Html.TextBoxFor(model => model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_ocijena)
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>Termin još nije prošao</p>
                                                                    }
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_status == 2)
                                                                {
                                                                    <p><b style="color:red;">Klijent je odustao</b></p>
                                                                }
                                                                else if (@Model.mojeInstrukcije.dogovoreni_termini_kao_instruktor[i].termin.dogovor_status == 3)
                                                                {
                                                                    <p><b>Zatražili ste odustajanje</b></p>
                                                                }
                                                                else
                                                                {
                                                                    <p>Otkazano</p>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                    @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab1" })
                                    <div class="col-md-2 mali-razmak-gore prihvati-lijevo">
                                        <input onclick="dodajindex(1);" type="submit" class="btn btn-default " style="font-weight: bold;" value="Prihvati izmjene &raquo;" /><br />
                                    </div>
                                </form>
                            </fieldset>
                        }
                    </div>




                    <!--Nudim instrukcije tab-->
                    <div class="tab-pane  top-buffer" role="tabpanel" id="tab2">
                        @if (@ViewBag.razinaPrava == 1 || @ViewBag.razinaPrava == 0)
                        {

                            if (@ViewBag.razinaPrava == 0)
                            {
                                <p>Imate administratorska prava</p>
                            }
                            using (Html.BeginForm())
                            {

                                <fieldset>
                                    
                                    <div id="testni" class="hidden">
                                        <!--testiranje-->
                                    </div>
                                    <h4>Popis termina</h4>
                                    <div style="width:800px;">
                                        <table class="table-bordered table table-striped header-fixed">
                                        <thead>
                                            <tr>
                                                <th>sat  </th>
                                                <th>PON</th>
                                                <th>UTO</th>
                                                <th>SRI</th>
                                                <th>ČET</th>
                                                <th>PET</th>
                                                <th>SUB</th>
                                                <th>NED</th>
                                            </tr> 
                                        </thead>
                                            <tbody id="tableT"></tbody>
                                        </table>
                                    </div>
                                    @Html.HiddenFor(model => model.mojeInstrukcije.mojiTermini, new { id = "hiddenstateid" })
                                    @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab2" })

                                    <h4>Popis Kategorija</h4>
                                    <ul>
                                        @foreach (var kategorija in ViewBag.kategorije)
                                        {
                                            <li>
                                                @kategorija.naziv_kategorija @kategorija.kratica_kategorija
                                            </li>
                                        }
                                    </ul>

                                    <div class="col-md-2 mali-razmak-gore">
                                        <input onclick="addterminmodel(2);" type="submit" class="btn btn-default" value="Promjeni &raquo;" /> <br />
                                    </div>
                                </fieldset>
                            }
                        }
                        else if (@ViewBag.razinaPrava == 2)
                        {
                            <p>Ukoliko želite biti instruktor odaberite opciju "Želim biti instruktor" u Postavkama profila</p>
                        }
                    </div>




                    <!--Postavke profila tab-->
                    <div class="tab-pane top-buffer" role="tabpanel" id="tab3">
                        <h3>Postavke profila</h3>
                        @using (Html.BeginForm())
                        {

                            <fieldset>
                                <form class="form-horizontal " method="post">

                                    <div class="row">
                                        <label class="col-md-3 control-label" for="jeinstruktor">
                                            <mark>Želim biti instruktor</mark>
                                        </label>
                                        <div id="jeinstruktor" class="col-md-6">
                                            @Html.CheckBoxFor(model => model.ostalePostavke.instruktor)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2 mali-razmak-gore">
                                            <input onclick="dodajindex(3);" type="submit" class="btn btn-default" value="Promjeni &raquo;" /> <br />
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab3"})
                                </form>
                            </fieldset>
                        }
                    </div>




                    <!--Promjena lozinke tab-->
                    <div class="tab-pane" role="tabpanel" id="tab4">
                        <h3>Promjena lozinke</h3>
                        @using (Html.BeginForm())
                    {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <form class="form-horizontal " method="post">

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="promjena_lozinke_stara">
                                    <mark>Stara lozinka</mark>
                                </label>
                                <div id="promjena_lozinke_stara" class="col-md-5">
                                    @Html.EditorFor(model => model.changePassword.OldPassword)
                                    @Html.ValidationMessageFor(model => model.changePassword.OldPassword)
                                    @Html.ValidationMessage("error_old_password")
                                </div>
                            </div>
                            <br />

                            <div class=" form-group">
                                <label class="col-md-3 control-label" for="promjena_lozinke_nova">
                                    <mark>Nova lozinka</mark>
                                </label>
                                <div id="promjena_lozinke_nova" class="col-md-6">
                                    @Html.PasswordFor(model => model.changePassword.NewPassword)
                                    @Html.ValidationMessageFor(model => model.changePassword.NewPassword)
                                    @Html.ValidationMessage("error_loz")
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="promjena_lozinke_ponovljena">
                                    <mark>Ponovljena nova lozinka</mark>
                                </label>
                                <div id="promjena_lozinke_ponovljena" class="col-md-6">
                                    @Html.PasswordFor(model => model.changePassword.ConfirmPassword)
                                    @Html.ValidationMessageFor(model => model.changePassword.ConfirmPassword)
                                    @Html.ValidationMessage("error_loz")
                                </div>
                            </div>
                            <br />
                            @Html.HiddenFor(model => model.trenutniTab, new { id = "trenutniTab4" })
                            <div class="col-md-2 mali-razmak-gore">
                                <input onclick="dodajindex(4);" type="submit" class="btn btn-default" value="Promjeni &raquo;" /> <br />
                            </div>
                        </form>
                    </fieldset>
                    }
                    </div>



                </div>



                <script type="text/javascript">
                    $(document).ready(function () {
                        activaTab('tab' + @Html.Raw(Model.trenutniTab) );
                    });
                    function activaTab(tab) {
                        $('#myTab a[href="#' + tab + '"]').tab('show');
                    };
                </script>

                <div id="test123">

                </div>


                <script>
                    //odabrani termini za model
                    var dodanitermini;
                    var dogovorenitermini;

                    //seen - skoro isto ko i odustani
                    function seen(id){
                        if($('#hiddenodustani' +id).val() == 'true'){
                            $('#hiddenodustani' +id).val(false)
                        }
                        else{
                            $('#hiddenodustani' +id).val(true)
                        }
                    }

                    //odustani od dogovorenog termina
                    function odustani(id){
                        if($('#hiddenodustani' +id).val() == 'true'){
                            $('#hiddenodustani' +id).val(false)
                        }
                        else{
                            $('#hiddenodustani' +id).val(true)
                        }
                    }

                    //index taba gdje je kliknut submit
                    function dodajindex(id){
                        $('#trenutniTab' +id).val(id);
                    }
                    

                    //tekst termina: Slobodno/Zauzeto
                    function oznaciTermine(){
                        for(var i =0; i < dodanitermini.length; i++){
                            $("#" + dodanitermini[i]).prop("checked", true);
                            $('#' + dodanitermini[i]).siblings('label').html('Odabrano');
                        }
                    }


                    //interakcija sa tablicom termina
                    jQuery(document).ready(function () {
                        var rows = " ";
                        var col = " ";
                        for(var i = 0; i <= 23; i++){
                            rows = rows + '<tr><td><div class="redrazmak">'+i+'h    '+'</div></td>';
                            col = " ";
                            for (var j = 1; j <= 7; j++) {
                                col = col + '<td><div class="redrazmak ">'
                                    + '<input id="' + (100*j + i) + '" type="checkbox" class="mycheck" name="' + (100*j + i) + '" onclick="changeText(this.id);"/>'
                                        + '<label class="mylabel" for="' + (100*j + i) + '">'
                                            + 'Slobodno'
                                        + '</label>'
                                    + '</div></td>';
                            }
                            rows = rows + col;
                            rows = rows + '</tr>';
                        }
                        document.getElementById("tableT").innerHTML = rows;
                        dodanitermini = @Html.Raw(Json.Encode(Model.mojeInstrukcije.mojiTermini));
                        document.getElementById("testni").innerHTML = dodanitermini;
                        oznaciTermine();
                    });


                    //interakcija sa tablicom termina
                    function changeText(id) {
                        if ($('#' + id).is(':checked')) {
                            $('#' + id).siblings('label').html('Odabrano');
                            dodajtermin(id);
                        } else {
                            $('#' + id).siblings('label').html('Slobodno');
                            uklonitermin(id);
                        }
                    }


                    //dodavanje termina u popis
                    function dodajtermin(id) {
                        dodanitermini.push(id);
                    }
                    //uklanjanje termina sa popisa
                    function uklonitermin(id) {
                        for (var i = 0; i < dodanitermini.length; i++) {
                            if (dodanitermini[i] == id) {
                                dodanitermini.splice(i, 1);
                                break;
                            }
                        }
                    }


                    //dodavanje termina u model
                    function addterminmodel(id) {
                        dodajindex(id);
                        $("#hiddenstateid").val(dodanitermini);
                    }
                </script>
                <!--'<input id="d' + j + '' + i + '" type="checkbox" name="lists" /><label for="lists">Travel</label>'  '<button class="btn-default" >Gumb</button>'-->


            </div>
        </div>
</body>
</html>
