@model ppij_web_aplikacija.Models.ChangePasswordBindingModel
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div class="container">
            <div class="tabbable" role="tablist">
                <ul class="nav nav-tabs">
                    <li><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Postavke termina</a></li>
                    <li><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Promjena lozinke</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active top-buffer" role="tabpanel" id="tab1">
                        <a href="/">Početna stranica</a>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab2">
                        <h3>Promjena lozinke</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>
                                <form class="form-horizontal " method="post">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="promjena_lozinke_stara">
                                            <mark>Stara lozinka</mark>
                                        </label>
                                        <div id="promjena_lozinke_stara" class="col-md-5">
                                            @Html.EditorFor(model => model.OldPassword)
                                            @Html.ValidationMessage("error_old_password")
                                        </div>
                                    </div>
                                    <br />

                                    <div class=" form-group">
                                        <label class="col-md-3 control-label" for="promjena_lozinke_nova">
                                            <mark>Nova lozinka</mark>
                                        </label>
                                        <div id="promjena_lozinke_nova" class="col-md-6">
                                            @Html.PasswordFor(model => model.NewPassword)
                                            @Html.ValidationMessageFor(model => model.NewPassword)
                                            @Html.ValidationMessage("error_loz")
                                        </div>
                                    </div>
                                    <br />

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="promjena_lozinke_ponovljena">
                                            <mark>Ponovljena nova lozinka</mark>
                                        </label>
                                        <div id="promjena_lozinke_ponovljena" class="col-md-6">
                                            @Html.PasswordFor(model => model.ConfirmPassword)
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                            @Html.ValidationMessage("error_loz")
                                        </div>
                                    </div>
                                    <br />

                                    <div class="col-md-2 mali-razmak-gore">
                                        <input type="submit" class="btn btn-default" value="Promjeni &raquo;" t /> <br />
                                    </div>

                                </form>
                            </fieldset>
                        }
                    </div>

                </div>
            </div>
        </div>

        <script>
            $('#tab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            // store the currently selected tab in the hash value
            $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
                var id = $(e.target).attr("href").substr(1);
                window.location.hash = id;
            });

            // on load of the page: switch to the currently selected tab
            var hash = window.location.hash;
            $('#tab a[href="' + hash + '"]').tab('show');

        </script>
    </body>
</html>
